---
import Layout from "@layouts/Layout.astro";

const { vin } = Astro.params;

if (!vin) {
	return Astro.redirect("/supercharging");
}
---

<Layout title="supercharging costs">
	<p>supercharging</p>
</Layout>
