---
import MapView from "@components/MapView.astro";
import VehicleViewMain from "@components/VehicleViewMain.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="home">
	<div class="grid grid-cols-1 lg:grid-cols-5 gap-2">
		<VehicleViewMain />
		<MapView />
	</div>
</Layout>
